<div :if={Game.ready?(@game)}>
  <div>Scores</div>
  <div :for={{score, index} <- Enum.with_index(@game.scores)}>
    <div>{1 + index}: {score}</div>
  </div>
  <div>Hands</div>
  <div :for={{hand, index} <- Enum.with_index(@game.hands)}>
    <div class="grid grid-cols-10">
      <div class="flex justify-end">
        <%= if @game.active_player == index do %>
          👉🏼
        <% end %>
        <%= if @game.winning_player == index do %>
          🏆
        <% end %>
      </div>
      <div>{1 + index}:</div>
      <div :for={tile <- hand} :if={@player_index == index} class={tile_class(tile)}>
        <%= if is_playable_tile?(@game, tile) do %>
          <button phx-click="play_tile" phx-value-id={tile.id} class="text-green-600">
            [{tile}]
          </button>
        <% else %>
          [{tile}]
        <% end %>
      </div>
      <div :for={tile <- hand} :if={@player_index != index} class={tile_class(tile)}>
        [_/_]
      </div>
      <div :if={
        @game.active_player == index && @player_index == index && !has_playable_tiles?(@game)
      }>
        <button
          :if={can_take_from_boneyard?(@game)}
          phx-click="take_from_boneyard"
          class="h-10 px-6 font-semibold rounded-md bg-green-600 text-white"
        >
          Boneyard
        </button>
        <button
          :if={!can_take_from_boneyard?(@game)}
          phx-click="pass"
          class="h-10 px-6 font-semibold rounded-md bg-green-600 text-white"
        >
          Pass
        </button>
      </div>
    </div>
  </div>
  <div :if={!@game.round_over?}>
    <button
      phx-click="finish_round"
      class="h-10 px-6 font-semibold rounded-md bg-black text-white"
    >
      Finish Round
    </button>
  </div>
  <div class="shadow bg-white rounded-lg">
    Line of play: {print_tiles(@game.line_of_play)}
  </div>
</div>
<div :if={!Game.ready?(@game)}>
  <div>
    Waiting for {Game.open_hands(@game)} more player(s).
  </div>
  <div>
    Invite more players with the url {"http://localhost:4000/game/join/#{@game.id}"}
  </div>
</div>
